<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1NEfa4p6VGGi6DvWYa2kTu3PWdP04wLg</string>
	<key>GCM_SENDER_ID</key>
	<string>1017316502077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.fftrivia</string>
	<key>PROJECT_ID</key>
	<string>fffirebase-e68c2</string>
	<key>STORAGE_BUCKET</key>
	<string>fffirebase-e68c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017316502077:ios:0c0627423fe5f3d528d854</string>
</dict>
</plist>